:root {
    --background-color: #35363E;
    --accent-color: #10C22B;
    --text-color: #FFFFFF;
    --disabled-color: #8E908E;
}

html {
    /* width: 250px; */
    width: 16em;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}

.data-button {
    width: 5.8em;
}

.statusLbl-unsaved {
    color: red;
}

.statusLbl-saved {
    color: green;
}

.statusLbl-changed {
    color: orange;
}

.hidden {
    display: none;
}